<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.hardison.alfred-github-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>09DD6D3C-82DD-4407-8CAF-D8CF67248817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26C137D2-AFA0-4FD4-97C9-C37E7EDC2D6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E8EB8C9-093F-4FD8-905D-7222F003BF6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81FD07A6-50CE-4698-8286-64EE3D037C6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>203DF82D-E557-4A92-9849-D59C1039B5BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59CE5B5C-AB7B-4069-8153-07FBC3F59818</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25FEAB95-1DF2-49BA-85B0-6D0584A5A1B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7685D30-9566-4D08-95CB-2BC8A885F873</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26C137D2-AFA0-4FD4-97C9-C37E7EDC2D6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59CE5B5C-AB7B-4069-8153-07FBC3F59818</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2931A3D7-11B4-491B-A6FF-40B97EAF411A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED8DF1F1-0BD1-4E8C-858B-9FD5DE01E996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>361779D3-9C21-4E6E-AD10-A69D69298F30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B72FA32-A726-4C06-ABE4-83A1667DE45C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>07C22E93-E096-4944-9D5C-D791DAC64B65</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7136F9C-46BA-4081-82C6-E3C15886120D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>366BE5CE-2B20-422C-BD31-938B8A57E675</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>361779D3-9C21-4E6E-AD10-A69D69298F30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C5F36CD-72A5-42DF-83CC-1C3549E6F862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D74D768-667A-4C37-B617-065B9FBE81B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59CE5B5C-AB7B-4069-8153-07FBC3F59818</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4C2E7F4-611E-4D0D-99EB-6C3C8DD89684</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B72FA32-A726-4C06-ABE4-83A1667DE45C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1801A40-D1B0-4C13-85B1-71C37D423330</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D74D768-667A-4C37-B617-065B9FBE81B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>361779D3-9C21-4E6E-AD10-A69D69298F30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81FD07A6-50CE-4698-8286-64EE3D037C6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>366BE5CE-2B20-422C-BD31-938B8A57E675</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>928633D5-A4C2-4291-A919-ED2DE07F6EA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>361779D3-9C21-4E6E-AD10-A69D69298F30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A876AAEB-DF87-409C-954C-88B5A0DD4923</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>203DF82D-E557-4A92-9849-D59C1039B5BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7685D30-9566-4D08-95CB-2BC8A885F873</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>928633D5-A4C2-4291-A919-ED2DE07F6EA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED8DF1F1-0BD1-4E8C-858B-9FD5DE01E996</key>
		<array/>
		<key>F4C2E7F4-611E-4D0D-99EB-6C3C8DD89684</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C5F36CD-72A5-42DF-83CC-1C3549E6F862</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>937BFDB8-68E8-45AA-A10C-065FCE6C618E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>361779D3-9C21-4E6E-AD10-A69D69298F30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dylan Hardison</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$alfred_workflow_github refresh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED8DF1F1-0BD1-4E8C-858B-9FD5DE01E996</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh refresh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Refresh GitHub Repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2931A3D7-11B4-491B-A6FF-40B97EAF411A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching {query}</string>
				<key>script</key>
				<string>$alfred_workflow_github pulls $full_name</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:full_name}</string>
				<key>title</key>
				<string>GitHub Pull Requests for {var:full_name}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D74D768-667A-4C37-B617-065B9FBE81B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>gh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>A876AAEB-DF87-409C-954C-88B5A0DD4923</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3C5F36CD-72A5-42DF-83CC-1C3549E6F862</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>source</key>
					<string>snippet</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>203DF82D-E557-4A92-9849-D59C1039B5BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>$alfred_workflow_github repos</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>59CE5B5C-AB7B-4069-8153-07FBC3F59818</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pulls</string>
						<key>outputlabel</key>
						<string>action == pulls</string>
						<key>uid</key>
						<string>937BFDB8-68E8-45AA-A10C-065FCE6C618E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F4C2E7F4-611E-4D0D-99EB-6C3C8DD89684</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>pull</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>09DD6D3C-82DD-4407-8CAF-D8CF67248817</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>pulls</string>
					<key>source</key>
					<string>snippet</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>26C137D2-AFA0-4FD4-97C9-C37E7EDC2D6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$alfred_workflow_github copy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B72FA32-A726-4C06-ABE4-83A1667DE45C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	tell application "System Events" to keystroke "v" using command down
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1801A40-D1B0-4C13-85B1-71C37D423330</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>revs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching {query}</string>
				<key>script</key>
				<string>$alfred_workflow_github search-issues reviews</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Review Requests</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>928633D5-A4C2-4291-A919-ED2DE07F6EA3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>keyword</key>
				<string>revs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>25FEAB95-1DF2-49BA-85B0-6D0584A5A1B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:source}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>snippet</string>
						<key>outputlabel</key>
						<string>source == nippet</string>
						<key>uid</key>
						<string>07C22E93-E096-4944-9D5C-D791DAC64B65</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open url</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>361779D3-9C21-4E6E-AD10-A69D69298F30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>source</key>
					<string>snippet</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C7685D30-9566-4D08-95CB-2BC8A885F873</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7136F9C-46BA-4081-82C6-E3C15886120D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pulls</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching {query}</string>
				<key>script</key>
				<string>$alfred_workflow_github search-issues pulls</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Pull Requests</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>366BE5CE-2B20-422C-BD31-938B8A57E675</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>0E8EB8C9-093F-4FD8-905D-7222F003BF6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>source</key>
					<string>snippet</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81FD07A6-50CE-4698-8286-64EE3D037C6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09DD6D3C-82DD-4407-8CAF-D8CF67248817</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>0E8EB8C9-093F-4FD8-905D-7222F003BF6F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>203DF82D-E557-4A92-9849-D59C1039B5BF</key>
		<dict>
			<key>note</key>
			<string>source=snippet</string>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>25FEAB95-1DF2-49BA-85B0-6D0584A5A1B4</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>26C137D2-AFA0-4FD4-97C9-C37E7EDC2D6E</key>
		<dict>
			<key>note</key>
			<string>source=snippet
action=pulls</string>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>2931A3D7-11B4-491B-A6FF-40B97EAF411A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>361779D3-9C21-4E6E-AD10-A69D69298F30</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>366BE5CE-2B20-422C-BD31-938B8A57E675</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>3C5F36CD-72A5-42DF-83CC-1C3549E6F862</key>
		<dict>
			<key>note</key>
			<string>This is to clear out the body content</string>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>59CE5B5C-AB7B-4069-8153-07FBC3F59818</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>5B72FA32-A726-4C06-ABE4-83A1667DE45C</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>6D74D768-667A-4C37-B617-065B9FBE81B4</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>81FD07A6-50CE-4698-8286-64EE3D037C6B</key>
		<dict>
			<key>note</key>
			<string>source=snippet</string>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>928633D5-A4C2-4291-A919-ED2DE07F6EA3</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>A876AAEB-DF87-409C-954C-88B5A0DD4923</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C1801A40-D1B0-4C13-85B1-71C37D423330</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>C7136F9C-46BA-4081-82C6-E3C15886120D</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>C7685D30-9566-4D08-95CB-2BC8A885F873</key>
		<dict>
			<key>note</key>
			<string>source=snippet</string>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>ED8DF1F1-0BD1-4E8C-858B-9FD5DE01E996</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F4C2E7F4-611E-4D0D-99EB-6C3C8DD89684</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.cargo/bin/alfred-workflow-github</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>the rust alfred-workflow-github executable</string>
			<key>label</key>
			<string>alfred-workflow-github</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>alfred_workflow_github</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/usr/local/bin/mdcopy</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>this is used to copy rich links to the clipboard</string>
			<key>label</key>
			<string>mdcopy</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>mdcopy</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>v1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/dylanwh/alfred-workflow-github</string>
</dict>
</plist>
